EnspireWebClient/EnspireWebClient/Connected Services/AssayService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://PerkinElmer.com/V4" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EnSpireAssayService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="EnSpireAssayTcpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://PerkinElmer.com/V4" location="" />
  <wsdl:types />
  <wsdl:binding name="EnSpireAssayTcpEndpoint" type="i0:EnSpireAssayService">
    <wsp:PolicyReference URI="#EnSpireAssayTcpEndpoint_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="get_StackerState">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_StackerState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeEvents">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/SubscribeEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribeEvents">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/UnSubscribeEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTimer">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/StartTimer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTimer">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/StopTimer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoadPlate">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/LoadPlate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DispenserParamsChanged">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/DispenserParamsChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RegistryValuesChanged">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/RegistryValuesChanged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Shutdown">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/Shutdown" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartAssay">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/StartAssay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UnloadPlate">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/UnloadPlate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_Interval">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/set_Interval" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_IsOneShot">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_IsOneShot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_IsOneShot">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/set_IsOneShot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_AllowUnloadPlate">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_AllowUnloadPlate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_AllowUnloadPlate">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/set_AllowUnloadPlate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Aperture">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_Aperture" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Assays">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_Assays" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_CurrentState">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_CurrentState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_DispenserState">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_DispenserState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_ExcFilterBarcodes">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_ExcFilterBarcodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Humidity">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_Humidity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_InsideSensorTemperature">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_InsideSensorTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_InsideTemperature">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_InsideTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_InstrumentConfiguration">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_InstrumentConfiguration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_InstrumentState">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_InstrumentState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_IsInstrumentConnected">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_IsInstrumentConnected" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_IsPlateLoaded">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_IsPlateLoaded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_LowerSensor">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_LowerSensor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_OutsideTemperature">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_OutsideTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_PlateBarcode">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_PlateBarcode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_SerialNumber">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/get_SerialNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="set_SimulationMode">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/set_SimulationMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTimerElapsed">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnTimerElapsed" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnApertureRead">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnApertureRead" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAssayContinued">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnAssayContinued" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAssayDone">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnAssayDone" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAssayExportDone">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnAssayExportDone" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAssayPaused">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnAssayPaused" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAssaySaved">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnAssaySaved" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAssayStarted">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnAssayStarted" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnCurrentStateChanged">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnCurrentStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnError">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnError" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnExcFilterBarcodesRead">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnExcFilterBarcodesRead" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnExportDone">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnExportDone" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInitDone">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnInitDone" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInstrumentServerConnected">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnInstrumentServerConnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnInstrumentStateChanged">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnInstrumentStateChanged" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlateBarcodeRead">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnPlateBarcodeRead" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlateLoaded">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnPlateLoaded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPlateUnloaded">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnPlateUnloaded" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnShakeBegin">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnShakeBegin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnShakeEnd">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnShakeEnd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnShutdown">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnShutdown" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTemperatureMeasured">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnTemperatureMeasured" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnTemperatureUpdated">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnTemperatureUpdated" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnWaitBegin">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnWaitBegin" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnWaitEnd">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnWaitEnd" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnAssayError">
      <soap12:operation soapAction="http://PerkinElmer.com/V4/EnSpireAssayService/OnAssayError" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EnSpireAssayService">
    <wsdl:port name="EnSpireAssayTcpEndpoint" binding="tns:EnSpireAssayTcpEndpoint">
      <soap12:address location="net.tcp://localhost:8080/EnSpireAssayService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8080/EnSpireAssayService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>