EnspireWebClient/EnspireWebClient/Connected Services/AssayService/V4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://PerkinElmer.com/V4" elementFormDefault="qualified" targetNamespace="http://PerkinElmer.com/V4" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" />
  <xs:element name="get_StackerState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_StackerStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" minOccurs="0" name="get_StackerStateResult" nillable="true" type="q1:StackerState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribeEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribeEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeEvents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnSubscribeEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnSubscribeEventsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTimer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTimerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTimer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StopTimerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPlate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadPlateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoadPlateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DispenserParamsChanged">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistryValuesChanged">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Shutdown">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientsonly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartAssay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayprotid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadPlate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UnloadPlateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnloadPlateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_Interval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_IntervalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsOneShot">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsOneShotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_IsOneShotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_IsOneShot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_IsOneShotResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_AllowUnloadPlate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_AllowUnloadPlateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_AllowUnloadPlateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_AllowUnloadPlate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_AllowUnloadPlateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Aperture">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ApertureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_ApertureResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Assays">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_AssaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" minOccurs="0" name="get_AssaysResult" nillable="true" type="q2:ArrayOfAssay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CurrentState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_CurrentStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" minOccurs="0" name="get_CurrentStateResult" type="q3:CurrentState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_DispenserState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_DispenserStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_DispenserStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ExcFilterBarcodes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_ExcFilterBarcodesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" minOccurs="0" name="get_ExcFilterBarcodesResult" nillable="true" type="q4:BarcodeData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_Humidity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_HumidityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_HumidityResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InsideSensorTemperature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InsideSensorTemperatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_InsideSensorTemperatureResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InsideTemperature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InsideTemperatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_InsideTemperatureResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InstrumentConfiguration">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InstrumentConfigurationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_InstrumentConfigurationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InstrumentState">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_InstrumentStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_InstrumentStateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsInstrumentConnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsInstrumentConnectedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_IsInstrumentConnectedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsPlateLoaded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_IsPlateLoadedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_IsPlateLoadedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_LowerSensor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_LowerSensorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_LowerSensorResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_OutsideTemperature">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_OutsideTemperatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_OutsideTemperatureResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_PlateBarcode">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_PlateBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_PlateBarcodeResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="get_SerialNumber">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="get_SerialNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="get_SerialNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_SimulationMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="set_SimulationModeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTimerElapsed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticks" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnApertureRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apertureid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAssayContinued">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAssayDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAssayExportDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAssayPaused">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAssaySaved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAssayStarted">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnCurrentStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" minOccurs="0" name="newstate" type="q5:CurrentState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
        <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="choices" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" minOccurs="0" name="erroraction" type="q6:ErrorAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnExcFilterBarcodesRead">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnExportDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="assayid" type="xs:int" />
        <xs:element minOccurs="0" name="plateid" type="xs:int" />
        <xs:element minOccurs="0" name="exportfilenames" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInitDone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isinstrumentconnected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstrumentServerConnected">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="connected" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnInstrumentStateChanged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="newstate" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlateBarcodeRead">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="acknowledge" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlateLoaded">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="barcode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="height" type="xs:int" />
        <xs:element minOccurs="0" name="maxheight" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPlateUnloaded">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShakeBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="shaketime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShakeEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnShutdown">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTemperatureMeasured">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insidetemperature" type="xs:int" />
        <xs:element minOccurs="0" name="outsidetemperature" type="xs:int" />
        <xs:element minOccurs="0" name="humidity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnTemperatureUpdated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inside" type="xs:int" />
        <xs:element minOccurs="0" name="outside" type="xs:int" />
        <xs:element minOccurs="0" name="humidity" type="xs:int" />
        <xs:element minOccurs="0" name="uppersensor" type="xs:int" />
        <xs:element minOccurs="0" name="lowersensor" type="xs:int" />
        <xs:element minOccurs="0" name="pwmplatewarmer" type="xs:int" />
        <xs:element minOccurs="0" name="pwmxywarmer" type="xs:int" />
        <xs:element minOccurs="0" name="pwmplatecooler" type="xs:int" />
        <xs:element minOccurs="0" name="insidesensor" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnWaitBegin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="waittime" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnWaitEnd">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OnAssayError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Number" type="xs:int" />
        <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Choices" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/EnSpireAssayInterface" minOccurs="0" name="Action" type="q7:ErrorAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>