EnspireWebClient/EnspireWebClient/Connected Services/DataService/EnSpireDataInterface.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EnSpireDataInterface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EnSpireDataInterface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfValidAssayProtocol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValidAssayProtocol" nillable="true" type="tns:ValidAssayProtocol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValidAssayProtocol" nillable="true" type="tns:ArrayOfValidAssayProtocol" />
  <xs:complexType name="ValidAssayProtocol">
    <xs:sequence>
      <xs:element minOccurs="0" name="AssayProtocolID" type="xs:int" />
      <xs:element minOccurs="0" name="ProtocolName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValidAssayProtocol" nillable="true" type="tns:ValidAssayProtocol" />
</xs:schema>