EnspireWebClient/EnspireWebClient/Connected Services/DataService/V4.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://PerkinElmer.com/V4" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://PerkinElmer.com/V4" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://PerkinElmer.com/V4/Imports">
      <xsd:import schemaLocation="" namespace="http://PerkinElmer.com/V4" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/EnSpireDataInterface" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="EnSpireDataService_GetValidProtocols_InputMessage">
    <wsdl:part name="parameters" element="tns:GetValidProtocols" />
  </wsdl:message>
  <wsdl:message name="EnSpireDataService_GetValidProtocols_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetValidProtocolsResponse" />
  </wsdl:message>
  <wsdl:message name="EnSpireDataService_RefreshProtocols_InputMessage">
    <wsdl:part name="parameters" element="tns:RefreshProtocols" />
  </wsdl:message>
  <wsdl:portType name="EnSpireDataService">
    <wsdl:operation name="GetValidProtocols">
      <wsdl:input wsaw:Action="http://PerkinElmer.com/V4/EnSpireDataService/GetValidProtocols" message="tns:EnSpireDataService_GetValidProtocols_InputMessage" />
      <wsdl:output wsaw:Action="http://PerkinElmer.com/V4/EnSpireDataService/GetValidProtocolsResponse" message="tns:EnSpireDataService_GetValidProtocols_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefreshProtocols">
      <wsdl:input wsaw:Action="http://PerkinElmer.com/V4/EnSpireDataService/RefreshProtocols" message="tns:EnSpireDataService_RefreshProtocols_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>